{{ define "header-style" }}
<link rel="stylesheet" href="static/styles/base/header.css">
{{ end }}
{{ define "header" }}
<!-- Header top -->
<div class="header-top">
    <!-- Title/left side -->
    <div class="title-block">
        <a href="/" class="title-link">
            <h1 class="title">VladOS - control panel</h1>
        </a>
        <p class="subtitle">Monitor and manage his behaviour</p>
    </div>

    <!-- User/right side -->
    <div class="user-block">
        {{if .Auth}}
        <p class="username">Hello, <span>{{ .Username }}</span></p>
        <a href="/logout" class="logout">Logout</a>
        {{ else }}
        <p class="username">Who are <span>you</span>?</p>
        <a href="/login" class="login">Login</a>
        {{ end }}
    </div>
</div>

<!-- Navigation (centered) -->
<nav class="nav">
    <ul class="nav-list">
    <li><a href="/">Homepage</a></li>
    <li class="dropdown">
        <a href="#">Leaderboard ▾</a>
        <ul class="dropdown-content">
        <li><a href="/leaderboard?game=slot">Slot</a></li>
        <li><a href="/leaderboard?game=dice">Dice</a></li>
        <li><a href="/leaderboard?game=bjack">Bjack</a></li>
        <li><a href="/leaderboard?game=guess">Guess</a></li>
        </ul>
    </li>
    {{if .Auth}}
    <li class="dropdown">
        <a href="#">Suggestions ▾</a>
        <ul class="dropdown-content">
        <li><a href="/suggestions?type=m8b">M8B</a></li>
        <li><a href="/suggestions?type=tip">Tip</a></li>
        <li><a href="/suggestions?type=pun">Pun</a></li>
        </ul>
    </li>
    {{ if .Admin }}
    <li><a href="#">Admin panel</a></li>
    {{ end }}
    {{ end }}
    <li><a href="https://github.com/TrueHopolok/VladOS" target="_blank">Github</a></li>
    </ul>
</nav>
{{ end }}