{{ define "content-style" }}
<link rel="stylesheet" href="static/styles/leaderboard.css">
{{ end }}
{{ define "content" }}
<h2 class="page-title">Leaderboard</h2>
<table class="leaderboard">
    <thead>
    <tr>
        <th>Rank</th>
        <th>BEst score</th>
        <th>Players amount</th>
    </tr>
    </thead>
    <tbody>
    {{ range $i, $player := .Leaderboard }}
    <tr>
        <td>{{ inc $i }}</td>
        <td>{{ $player.ScoreBest }}</td>
        <td>{{ $player.PlayersAmount }}</td>
    </tr>
    {{ else }}
    <tr>
        <td colspan="3">No players yet</td>
    </tr>
    {{ end }}
    </tbody>
</table>
{{ end }}

{{ template "base" . }}