{{ define "content-style" }}
<link rel="stylesheet" href="static/styles/update.css">
{{ end }}
{{ define "content" }}
<div class="update">
<!-- UPDATE SECTION: START -->
    <div class="update-card">
        <h2>🚀 Update 0.5</h2>
        <p>
            The bot’s half-release is here! 🎉  
            Here’s what’s included so far:
        </p>
        <ul>
            <li>🎲 Gambling functionality through mini-games.</li>
            <li>🌐 A webpage to suggest and review new bot features.</li>
        </ul>
        <p>
            🔧 Currently in development: a pun system — where any message can receive a witty reply based on its suffix.
        </p>
    </div>
    <hr>
<!-- UPDATE SECTION: END -->
    <br>
    <div class="note">
        <p>⚠️ This information might not be accurate.</p>
        <p>Visit the 
            <a href="https://github.com/TrueHopolok/VladOS" target="_blank">GitHub repo</a> 
            for precise information.
        </p>
    </div>
</div>
{{ end }}

{{ template "base" . }}