{{ define "content-style" }}
<link rel="stylesheet" href="static/styles/base/content.css">
{{ if .Auth }}
<link rel="stylesheet" href="static/styles/suggestions.css">
{{ end }}
{{ end }}
{{ define "content" }}
<h2 class="page-title">Suggestions - {{ tn .SuggestionType }}</h2>
{{ if .Auth }}
<form action="/suggestions?type={{ .SuggestionType }}" method="post" class="suggestion-form">
    {{ block "suggestion-input" . }}
    <p>There is no input implemented yet!</p>
    {{ end }}
    <button type="submit" class="btn-primary">Submit</button>
</form>
{{ else }}
<p>You must be authenticated to add suggestions.</p>
{{ end }}
{{ end }}

{{ template "base" . }}